

#grid{
    width: 464px;
    height: 464px;
    border: solid 1px black;
    
}

#a1, #b1, #c1, #a2, #b2, #c2, #a3, #b3, #c3{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: inline-flex;
    
}
svg{
    stroke: black;
    stroke-width:5px;
    stroke-linecap: round;
    position: absolute;
}

form{
    display: inline-flex;
    position: absolute;
    margin: 10px;
    top:20px;
}
