* {
  -webkit-user-select: none; 
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;          
}

#show-result{
  width: 70%;
  height: 65%;
  background-color: #0fee2c;
  position: fixed;
  z-index: 1;
  margin-left: 15%;
  margin-top: 5%;
  border: 4px solid;
  visibility: hidden;
 
  align-items: center;
  display: flex;
  

}
#txt{
  font-size: 50px;
  margin: auto;
  margin-top: 1%;
  visibility: hidden;
}
.here{
position: absolute;
position: absolute;

left: 50%;
top: 50%;
font-size: 5em;
transform: translateX(-50%) translateY(-50%);
}




@media (max-width: 670px){
#here{
    font-size: 4em;
    
}
#show-result{
    height: 50%;
    width: 80%;
    top: 15%;
    left: -5%;
}
}

@media (max-width: 575px){
  #questions{
    width: 98%;
  
   transform: translateX(-10%);
  }
  #questions1{
    width: 98%;
    transform: translateX(-10%);
    
  }
}
@media(max-height: 600px){
  #side{
    overflow: scroll;
    
    
  }
  #contents{
    height: 600px;
  }
}
@media (max-width: 450px){
  #questions{
    width: 97%;
    
  }

  #show-result{
    height: 50%;
    width: 80%;
   transform: translateX(0.1%);
    
  }
}

@media (max-width: 390px){
#here{
    font-size: 4em;
    
}
#svg{
margin-top: 3%;
}
}




#next-button {
  margin-bottom: 1%;
  width: 9em;
  height: 4em;
  background-color: #f8c210;
  transition: 0.2s ease-in-out;
  visibility:hidden;
  position: absolute; 
  bottom: 0; 
  left: 50%;
  transform: translateX(-50%); 
}

#next-button:hover{
  scale:105%;
}
.scale-in-center {
-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.fade-in {
-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.scale-out-center {
-webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}


.scale-out-ver-top {
  -webkit-animation: scale-out-ver-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
          animation: scale-out-ver-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

.scale-in-center {
-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



.scale-in-ver-top {
-webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  
  
 


@-webkit-keyframes scale-in-ver-top {
0% {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  opacity: 1;
  visibility: visible;
}
100% {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  opacity: 1;
  visibility: visible;
}
}
@keyframes scale-in-ver-top {
0% {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  opacity: 1;
  visibility: visible;
}
100% {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  opacity: 1;
  visibility: visible;
}
}


@media (max-width: 580px){
  #show-result{
    width: 95%;
    margin-left: 6.65%;
    
  }

    .scale-in-ver-top {
      -webkit-animation: scale-in-ver-tops 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: scale-in-ver-tops 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }

  @-webkit-keyframes scale-in-ver-tops {
    0% {
      -webkit-transform: scaleY(0) translateX(-10%);
              transform: scaleY(0) translateX(-10%);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
      visibility: visible;
     
    }
    100% {
      -webkit-transform: scaleY(1) translateX(-10%);
              transform: scaleY(1) translateX(-10%);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
      visibility: visible;
     
    }
    }
    @keyframes scale-in-ver-tops {
    0% {
      -webkit-transform: scaleY(0) translateX(-10%);
              transform: scaleY(0) translateX(-10%);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
      visibility: visible;
   
    }
    100% {
      -webkit-transform: scaleY(1) translateX(-10%);
              transform: scaleY(1) translateX(-10%);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
      visibility: visible;
      
    }
    }

    .scale-out-ver-top {
      -webkit-animation: scale-out-ver-tops 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
              animation: scale-out-ver-tops 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }

    @-webkit-keyframes scale-out-ver-tops {
      0% {
        -webkit-transform: scaleY(1) translateX(-10%);
                transform: scaleY(1) translateX(-10%);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 1;
      }
      100% {
        -webkit-transform: scaleY(0) translateX(-10%);
                transform: scaleY(0) translateX(-10%);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 1;
      }
    }
    @keyframes scale-out-ver-tops {
      0% {
        -webkit-transform: scaleY(1) translateX(-10%);
                transform: scaleY(1) translateX(-10%);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 1;
      }
      100% {
        -webkit-transform: scaleY(0) translateX(-10%);
                transform: scaleY(0) translateX(-10%);
        -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
        opacity: 1;
      }
    }
  }