*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #6A2ADB;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    border-radius: 4px;
    height: fit-content;
    max-width: 500px;
    width: 95%;
    display: flex;
    flex-direction: column;
    background-color: #DB2A6C;
    padding: 10px;

}
.output{
    border-radius: 4px;
    background-color: white;
    height: 100px;
    
}
.input{

    margin-top: 5px;
    display: grid;
    height: 400px;
    grid-template-rows: repeat(5, 1fr);

}
.input  *{
    border-radius: 4px;
}
.main{
    grid-row: span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 1.5fr;
    grid-template-rows: repeat(4, 1fr);

}

.bottom{
    grid-template-columns: repeat(3, 1fr);
}
.grid{
    display: grid;

    gap: 5px;
}

.output{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    font-size: 1.3rem;
}

button:hover{
    opacity: 0.5;
    cursor: pointer;
}
#lower{
    display: none;
    opacity: 0.5;
    font-size: 1.7rem;
}
#upper{
    font-size: 3rem;
}






